body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    
    flex-direction: column;
}

h1 {
    text-align: center;
    
}

.container {
    max-width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.form-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
    min-width: 300px;
    height: 400px;
}
.registered-user {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
    min-width: 300px;
}


.form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.form-container input[type="submit"]:hover {
    background-color: #45a049;
}

.registered-user {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
    
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
    word-wrap: break-word; 
}

th {
    background-color: #4CAF50;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    color: #e74c3c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.registered-user form {
    margin-top: 20px;
}

.registered-user input[type="submit"] {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.registered-user input[type="submit"]:hover {
    background-color: #c0392b;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 10px;
    }

    .form-container {
    }
}
